*
{
    margin: 0;
    padding: 0;
}
body
{
    background: url('./assets/background.jpg'); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
}
form
{
	height: auto;
}
label
{
	color: #dc3545;
    font-weight: 900;
}
ul
{
	list-style: none;
}
/* onsubmit event in form tag
js func input var 
.get */