*
{
    margin: 0;
    padding: 0;
}
form
{
	height: 89vw;
}
label
{
	color: #dc3545;
    font-weight: 900;
}
ul
{
	list-style: none;
}
#age
{
}
/* onsubmit event in form tag
js func input var 
.get */